  <div class="card">
    <h4 class="card-header">{{!job.id ? 'Create new' : 'Update'}} Job</h4>
    <div class="card-body">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" type="text" placeholder="Enter Title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && formGroup.controls.title.errors }" />
    <div *ngIf="submitted && formGroup.controls.title.errors" class="invalid-feedback">
        <div *ngIf="formGroup.controls.title.errors.required"></div>
    </div>
  </div>

  <div class="form-group">
  <label for="content">Content</label>
  <input id="content" type="text" placeholder="Enter Content" formControlName="content" class="form-control" [ngClass]="{ 'is-invalid': submitted && formGroup.controls.content.errors }" />
  <div *ngIf="submitted && formGroup.controls.content.errors" class="invalid-feedback">
      <div *ngIf="formGroup.controls.content.errors.required"></div>
  </div>
  </div>
  
  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input id="companyName" type="text" placeholder="Enter Company Name" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formGroup.controls.companyName.errors }" />
    <div *ngIf="submitted && formGroup.controls.companyName.errors" class="invalid-feedback">
        <div *ngIf="formGroup.controls.companyName.errors.required"></div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit"
              class="btn btn-outline-dark"
              [disabled]="formGroup.invalid">
        {{!job.id ? 'Add' : 'Update'}}
      </button>
  
      <a routerLink="/jobs"
         class="btn btn-default">Cancel</a>
    </div>
  </form>
 </div>
</div>
  