<div class="container " >
  <div *ngIf="isOrganization" class="row my-3">
    <div class="col-12">
      <a class="btn btn-outline-success ml-2 float-right"
      [routerLink]="['/jobs', 'edit', job?.id]">
     Edit
   </a>

   <button type="button"
           class="btn btn-outline-danger float-right"
           (click)="deleteJob(job?.id)">
     Delete
   </button>
    </div>  
  </div>
    <div class="row pt-2">
      <div class="col-sm">
        <div class="col">
          <div class="text-muted">{{job?.publishDate | date:'yyyy-MM-dd'}}</div>
          <div>Liked: {{job?.likesCount}}</div>
         
        </div>
      </div>
      <div class="col-sm">
        <p style="font-size: 1.125rem; font-weight: bold;">{{job?.title}}</p>
      </div>
      <div class="col-sm">
        <div class="float-right pr-3 text-primary">{{job?.companyName}}</div>
      </div>
    </div>
    <div class="row py-4 mb-4" style="border-bottom: 1px solid rebeccapurple">
      <div class="col-sm">
        <div>Location</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div>{{job?.content}}</div>
      </div>
    </div>  
    <div class="row">
      <div class="col-6 pb-2">
        <button type="button"
        [disabled]="hasApplied()"
        class="btn btn-success float-right"
        (click)="applyForJob()">
        Apply for job
    </button>
      </div>
    </div>
    <div *ngIf="isOrganization" class="row">
      <h4>Applicants</h4>
      <div class="col-md-12" *ngFor="let user of job?.applicants">
        <app-user-item [user]="user"></app-user-item>
      </div>
    </div>
  </div>
  